/* line 66, icons/*.png */
.icons-sprite, .icons-community, .icons-creativity, .icons-schools, .icons-tools {
  background: url('../images/icons-s3be31e2866.png') no-repeat; }

/* line 60, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-community {
  background-position: 0 0; }

/* line 60, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-creativity {
  background-position: 0 -26px; }

/* line 60, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-schools {
  background-position: 0 -81px; }

/* line 60, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tools {
  background-position: 0 -51px; }

/* line 1, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 1, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 1, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 1, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* line 1, ../sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 1, ../sass/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 1, ../sass/_normalize.scss */
body {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 1, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 1, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 1, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 1, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 1, ../sass/_normalize.scss */
h5 {
  font-size: .83em;
  margin: 1.67em 0; }

/* line 1, ../sass/_normalize.scss */
h6 {
  font-size: .75em;
  margin: 2.33em 0; }

/* line 1, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 1, ../sass/_normalize.scss */
b, strong {
  font-weight: 700; }

/* line 1, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 1, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 1, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 1, ../sass/_normalize.scss */
p, pre {
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

/* line 1, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 1, ../sass/_normalize.scss */
q {
  quotes: none; }

/* line 1, ../sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 1, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 1, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 1, ../sass/_normalize.scss */
sup {
  top: -.5em; }

/* line 1, ../sass/_normalize.scss */
sub {
  bottom: -.25em; }

/* line 1, ../sass/_normalize.scss */
dl, menu, ol, ul {
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 1, ../sass/_normalize.scss */
menu, ol, ul {
  padding: 0 0 0 40px; }

/* line 1, ../sass/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 1, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 1, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 1, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
form {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 1, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 1, ../sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 1, ../sass/_normalize.scss */
button, input {
  line-height: normal; }

/* line 1, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 1, ../sass/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 1, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 1, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 1, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 1, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 1, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 1, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* contains our grid system */
/* Import the Compass mixins to allow us to use Background Gradients */
/* line 21, ../sass/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 32, ../sass/_base.scss */
body {
  font-size: .9em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #3e3c3c; }

/* line 33, ../sass/_base.scss */
h1 {
  font: 2.25em/1.66667em;
  color: #005b91; }

/* line 34, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  font-weight: 800;
  color: #049af3; }
  /* line 39, ../sass/_base.scss */
  h2 a:link, h2 a:visited {
    color: #049af3;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }
  /* line 40, ../sass/_base.scss */
  h2 a:hover, h2 a:active {
    color: #005A91;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }

/* line 42, ../sass/_base.scss */
h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #005b91; }

/* line 43, ../sass/_base.scss */
h4 {
  font-size: 1.25em;
  font-weight: 600;
  color: #90d4fd; }

/* line 44, ../sass/_base.scss */
a {
  text-decoration: none; }
  /* line 47, ../sass/_base.scss */
  a:link, a:visited {
    color: #049af3; }
  /* line 48, ../sass/_base.scss */
  a:hover, a:active {
    color: #005A91; }

/* line 50, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 51, ../sass/_base.scss */
img {
  vertical-align: middle; }

/* line 53, ../sass/_base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 54, ../sass/_base.scss */
.clear {
  clear: both; }

/* line 55, ../sass/_base.scss */
.alignleft {
  float: left; }

/* line 56, ../sass/_base.scss */
.alignright {
  float: right; }

/* line 57, ../sass/_base.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* line 58, ../sass/_base.scss */
p img.alignleft {
  margin: 5px 10px 10px 0; }

/* line 59, ../sass/_base.scss */
p img.alignright {
  margin: 5px 0 10px 10px; }

/* line 60, ../sass/_base.scss */
.call-to-action {
  background: #90d4fd;
  color: #049af3;
  padding: 16px 8px 16px 16px;
  margin: 279px auto 30px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.818181818em;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 71, ../sass/_base.scss */
  .call-to-action p {
    margin: 0; }

/* line 73, ../sass/_base.scss */
.button, a.button, .button a {
  background: #005096;
  color: #fff;
  padding: 13px 35px;
  margin-left: 15px;
  text-decoration: none !important;
  text-shadow: -1px 0 0 #236b34;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

/* line 82, ../sass/_base.scss */
.button:hover, a.button:hover, .button a:hover {
  background: #005fb2; }

/* line 83, ../sass/_base.scss */
.button.green, a.button.green, .button.green a {
  background: #41a458; }

/* line 84, ../sass/_base.scss */
.button:hover.green, .button:hover.green, a.button:hover.green, .button.green a:hover {
  background: #3b9450;
  color: white !important; }

/* line 85, ../sass/_base.scss */
.standalone {
  margin: 33px 0 13px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.818181818em; }

/* line 92, ../sass/_base.scss */
.icons-community, .icons-creativity, .icons-schools, .icons-tools {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 8px; }

/* line 93, ../sass/_base.scss */
.icons-community {
  height: 26px;
  width: 40px; }

/* line 94, ../sass/_base.scss */
.icons-creativity {
  height: 25px;
  width: 29px; }

/* line 95, ../sass/_base.scss */
.icons-schools {
  height: 32px;
  width: 22px;
  top: 6px; }

/* line 96, ../sass/_base.scss */
.icons-tools {
  height: 30px;
  width: 29px; }

/* line 98, ../sass/_base.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

/* line 103, ../sass/_base.scss */
dd {
  margin: 0 0 0 40px; }

/* line 108, ../sass/_base.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* line 116, ../sass/_base.scss */
.reset-list, .nav-list, #sidebar ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/********** Pagination **********/
/* line 124, ../sass/_base.scss */
.pagenavi {
  margin: 0 0 20px 30px;
  padding: 5px 1px;
  float: left;
  width: 98%; }
  /* line 126, ../sass/_base.scss */
  .pagenavi a {
    padding: 5px 6px 4px;
    margin: 3px;
    text-decoration: none;
    border: 1px solid #cccccc;
    color: #666;
    background-color: inherit; }
    /* line 134, ../sass/_base.scss */
    .pagenavi a:hover {
      border: 1px solid #444444;
      color: #444;
      background-color: #eee; }
  /* line 141, ../sass/_base.scss */
  .pagenavi span .pages {
    padding: 5px 6px 4px;
    margin: 3px;
    color: #825a2d;
    font-weight: 700;
    border: 1px solid #999999;
    background-color: inherit; }
  /* line 149, ../sass/_base.scss */
  .pagenavi span .current {
    padding: 5px 6px 4px;
    margin: 3px;
    font-weight: 700;
    border: 1px solid #666666;
    color: #444;
    background-color: #eee; }
  /* line 157, ../sass/_base.scss */
  .pagenavi span .expand {
    padding: 5px 6px 4px;
    margin: 3px;
    border: 1px solid #cccccc;
    color: #444;
    background-color: inherit; }
  /* line 165, ../sass/_base.scss */
  .pagenavi .first, .pagenavi .last {
    border: 1px solid #aaaaaa; }
  /* line 166, ../sass/_base.scss */
  .pagenavi .single_page {
    border: 1px dashed #cccccc; }

/* line 173, ../sass/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 179, ../sass/_base.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 183, ../sass/_base.scss */
figure {
  margin: 0; }

/* line 187, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 192, ../sass/_base.scss */
td {
  vertical-align: top; }

/* line 196, ../sass/_base.scss */
hr {
  background: #000;
  color: #000;
  height: 1px;
  border: none;
  margin: 20px 0; }

/* line 204, ../sass/_base.scss */
.post-edit-link {
  float: right; }

/* Media */
/* line 210, ../sass/_base.scss */
.wp-caption {
  border: 1px solid #cccccc;
  max-width: 100%; }
  /* line 213, ../sass/_base.scss */
  .wp-caption.aligncenter, .wp-caption.alignleft, .wp-caption.alignright {
    margin-bottom: 1.5em; }
  /* line 216, ../sass/_base.scss */
  .wp-caption img {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%; }

/* line 223, ../sass/_base.scss */
.wp-caption-text {
  text-align: center; }

/* line 227, ../sass/_base.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/* line 231, ../sass/_base.scss */
.gallery-caption, .sticky, .bypostauthor {
  visibility: visible; }

/* content */
/* comments */
/* Helper Classes */
/* line 241, ../sass/_base.scss */
.ir, .ir a {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  /* line 246, ../sass/_base.scss */
  .ir:before, .ir a:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/* line 254, ../sass/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 259, ../sass/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 269, ../sass/_base.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 280, ../sass/_base.scss */
.invisible {
  visibility: hidden; }

/* line 285, ../sass/_base.scss */
.group:before, .group:after {
  content: " ";
  display: table; }
/* line 289, ../sass/_base.scss */
.group:after {
  clear: both; }
/* line 292, ../sass/_base.scss */
.group {
  *zoom: 1; }

/* line 1, ../sass/_menu.scss */
nav {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: normal;
  position: relative;
  top: 23px; }
  /* line 11, ../sass/_menu.scss */
  nav a {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
    /* line 14, ../sass/_menu.scss */
    nav a:link, nav a:visited {
      color: #005b91; }
    /* line 15, ../sass/_menu.scss */
    nav a:hover, nav a:active {
      color: #049af3; }
  /* line 18, ../sass/_menu.scss */
  nav .menu > li.current-menu-item > a {
    color: #049af3; }

/* line 23, ../sass/_menu.scss */
.menu {
  list-style: none;
  line-height: 1.0;
  float: right;
  margin-right: -19px; }
  /* line 29, ../sass/_menu.scss */
  .menu * {
    margin: 0;
    list-style: none; }
  /* line 34, ../sass/_menu.scss */
  .menu ul {
    background: #009AF3;
    position: absolute;
    top: -999em;
    width: 10em;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 0 5px #cccccc;
    -moz-box-shadow: 1px 0 5px #cccccc;
    box-shadow: 1px 0 5px #cccccc; }
    /* line 43, ../sass/_menu.scss */
    .menu ul li {
      width: 100%; }
    /* line 46, ../sass/_menu.scss */
    .menu ul a:link, .menu ul a:visited {
      color: #fff; }
    /* line 47, ../sass/_menu.scss */
    .menu ul a:hover, .menu ul a:active {
      color: #005B91;
      background: #90D4FD; }
  /* line 54, ../sass/_menu.scss */
  .menu li {
    float: left;
    position: relative; }
    /* line 58, ../sass/_menu.scss */
    .menu li:hover {
      visibility: inherit; }
    /* line 62, ../sass/_menu.scss */
    .menu li:hover ul, .menu li.sfHover ul {
      left: 0;
      top: 44px;
      z-index: 99; }
  /* line 69, ../sass/_menu.scss */
  .menu a {
    display: block;
    position: relative;
    padding: 0 12px;
    cursor: pointer; }
  /* line 76, ../sass/_menu.scss */
  .menu .arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8941d;
    position: absolute;
    top: -7px;
    left: 44%; }
  /* line 87, ../sass/_menu.scss */
  .menu ul a {
    padding: 8px 18px;
    font-size: 0.9em; }

/* line 95, ../sass/_menu.scss */
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
  top: -999em; }
/* line 100, ../sass/_menu.scss */
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
  left: 10em;
  top: 0; }
/* line 105, ../sass/_menu.scss */
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
  top: -999em; }
/* line 109, ../sass/_menu.scss */
ul.menu li li li:hover ul, ul.menu li li li.sfHover ul {
  left: 10em;
  top: 0; }

/* line 119, ../sass/_menu.scss */
.menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px; }

/* line 124, ../sass/_menu.scss */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url("../images/arrows-ffffff.png") no-repeat -10px -100px; }

/* line 138, ../sass/_menu.scss */
a > .sf-sub-indicator {
  top: .8em;
  background-position: 0 -100px; }
/* line 143, ../sass/_menu.scss */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 150, ../sass/_menu.scss */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 157, ../sass/_menu.scss */
.menu ul .sf-sub-indicator {
  background-position: -10px 0; }
/* line 162, ../sass/_menu.scss */
.menu ul a > .sf-sub-indicator {
  background-position: 0 0; }
/* line 166, ../sass/_menu.scss */
.menu ul a:focus > .sf-sub-indicator, .menu ul a:hover > .sf-sub-indicator, .menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0; }
/* line 172, ../sass/_menu.scss */
.menu ul li:hover > a > .sf-sub-indicator, .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; }

/* line 1, ../sass/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 2, ../sass/_forms.scss */
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 8, ../sass/_forms.scss */
form {
  margin: 0; }
  /* line 11, ../sass/_forms.scss */
  form .inline {
    line-height: 3; }
    /* line 14, ../sass/_forms.scss */
    form .inline p {
      margin-bottom: 0; }

/* line 17, ../sass/_forms.scss */
label {
  font-weight: bold;
  cursor: pointer; }

/* line 18, ../sass/_forms.scss */
fieldset {
  padding: 1em;
  margin: 0 0 1.5em;
  border: 1px solid #cccccc; }

/* line 19, ../sass/_forms.scss */
legend {
  font-weight: 700;
  font-size: 1.2em;
  border: 0;
  margin-left: -7px;
  padding: 0; }

/* line 22, ../sass/_forms.scss */
input[type=checkbox], input[type=radio], input.checkbox, input.radio {
  position: relative;
  top: .25em; }
/* line 27, ../sass/_forms.scss */
input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }
/* line 32, ../sass/_forms.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box; }
/* line 33, ../sass/_forms.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  /* line 39, ../sass/_forms.scss */
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }
/* line 43, ../sass/_forms.scss */
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input.text, input.title {
  font-size: .8em;
  padding: 8px;
  margin: 0.5em 0;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px #999999;
  -moz-box-shadow: inset 0 1px 2px #999999;
  box-shadow: inset 0 1px 2px #999999; }
/* line 54, ../sass/_forms.scss */
input[type=submit], input #searchsubmit, input .searchsubmit {
  background: #0083c9;
  color: #fff;
  border: none;
  font-size: .9em;
  padding: 7px 14px;
  text-shadow: 1px 1px 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #1a97d0;
  -moz-box-shadow: inset 1px 1px 1px #1a97d0;
  box-shadow: inset 1px 1px 1px #1a97d0;
  position: relative;
  top: -1px; }
/* line 67, ../sass/_forms.scss */
input[type=submit]:hover, input #searchsubmit:hover, input .searchsubmit:hover {
  background: #1a97d0; }

/* line 71, ../sass/_forms.scss */
textarea {
  width: 100%;
  height: 90px;
  padding: 5px; }

/* line 73, ../sass/_forms.scss */
button, input {
  line-height: normal;
  overflow: visible; }

/* line 79, ../sass/_forms.scss */
table button, table input {
  overflow: auto; }

/* line 84, ../sass/_forms.scss */
button {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 89, ../sass/_forms.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 96, ../sass/_forms.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 100, ../sass/_forms.scss */
textarea, select {
  background-color: #fff;
  border: 1px solid #7a7979;
  font-size: .8em;
  padding: 5px;
  box-shadow: inset 0 0 5px #c2c1c1; }

/* line 108, ../sass/_forms.scss */
textarea:focus, select:focus {
  border-color: #666;
  box-shadow: none; }

/* line 113, ../sass/_forms.scss */
textarea, select {
  margin: 0.5em 0; }

/* line 117, ../sass/_forms.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: sans-serif;
  letter-spacing: .01em;
  color: #6e6e6e; }

/********** Gravity Forms **********/
/* line 124, ../sass/_forms.scss */
.gform_wrapper {
  margin: 0 !important; }

/* line 126, ../sass/_forms.scss */
.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"] {
  padding: 5px; }

/* line 131, ../sass/_forms.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input.text, input.title {
  margin: 0; }

/* line 135, ../sass/_forms.scss */
textarea, select {
  margin: 0; }

/* line 136, ../sass/_forms.scss */
img.ui-datepicker-trigger {
  vertical-align: middle; }

/* line 137, ../sass/_forms.scss */
.ui-datepicker-div, #ui-datepicker-div {
  width: 273px !important; }

/* line 138, ../sass/_forms.scss */
.gform_wrapper .left_label .gfield_label {
  margin-bottom: 15px; }

/* line 139, ../sass/_forms.scss */
.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label, .gform_wrapper .gform_footer {
  padding: 0 !important;
  text-align: right; }

/* line 141, ../sass/_forms.scss */
.gform_widget .gform_wrapper h3.gform_title {
  margin: 1px 0 13px; }
/* line 142, ../sass/_forms.scss */
.gform_widget input[type=text], .gform_widget input[type=email] {
  width: 100% !important;
  padding: 5px !important; }

/* line 144, ../sass/_forms.scss */
.gform_wrapper ul li.gfield {
  margin-bottom: 14px; }

/* [ Home ] */
/********** Comment other WordPress Form Styles **********/
/* line 152, ../sass/_forms.scss */
#s, .s {
  width: 164px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 156, ../sass/_forms.scss */
  #s:focus, .s:focus {
    width: 50%;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }

/* line 162, ../sass/_forms.scss */
#comments-list, #respond {
  margin-left: 10px;
  background: transparent;
  padding: 10px; }

/* line 168, ../sass/_forms.scss */
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 174, ../sass/_forms.scss */
  .commentlist li .comment {
    width: 85%; }
  /* line 177, ../sass/_forms.scss */
  .commentlist li .comment-meta {
    margin-bottom: 5px; }
  /* line 180, ../sass/_forms.scss */
  .commentlist li.comment {
    border-bottom: 1px dotted #666666;
    padding: 10px; }
    /* line 183, ../sass/_forms.scss */
    .commentlist li.comment .gravatar {
      width: 10%; }
    /* line 188, ../sass/_forms.scss */
    .commentlist li.comment div.comment-meta {
      font-size: 10px; }
      /* line 190, ../sass/_forms.scss */
      .commentlist li.comment div.comment-meta a {
        color: #ccc; }
    /* line 196, ../sass/_forms.scss */
    .commentlist li.comment ul {
      list-style: none; }
    /* line 199, ../sass/_forms.scss */
    .commentlist li.comment div.reply {
      font-size: 11px;
      text-align: right; }
      /* line 202, ../sass/_forms.scss */
      .commentlist li.comment div.reply a {
        font-weight: bold; }
  /* line 208, ../sass/_forms.scss */
  .commentlist ul.children {
    list-style: none;
    margin: 10px 0 0; }
    /* line 213, ../sass/_forms.scss */
    .commentlist ul.children li.depth-2 {
      border-left: 5px solid #555555;
      margin: 0 0 10px 10px; }
    /* line 217, ../sass/_forms.scss */
    .commentlist ul.children li.depth-3 {
      border-left: 5px solid #999999;
      margin: 0 0 10px 10px; }
    /* line 221, ../sass/_forms.scss */
    .commentlist ul.children li.depth-4 {
      border-left: 5px solid #bbbbbb;
      margin: 0 0 10px 10px; }
  /* line 229, ../sass/_forms.scss */
  .commentlist li.even {
    background: #fff; }
  /* line 232, ../sass/_forms.scss */
  .commentlist li.odd {
    background: #EBEBEB; }
  /* line 235, ../sass/_forms.scss */
  .commentlist li.parent {
    border-left: 5px solid #111111; }
  /* line 240, ../sass/_forms.scss */
  .commentlist h2 {
    margin: 0;
    padding: 10px 0 0; }

/* line 247, ../sass/_forms.scss */
#respond h2 {
  margin: 0;
  padding: 10px 0 0; }
/* line 251, ../sass/_forms.scss */
#respond label {
  display: none; }
/* line 254, ../sass/_forms.scss */
#respond input, #respond textarea {
  width: 98%;
  padding: 10px 5px;
  font-size: .8em; }
/* line 261, ../sass/_forms.scss */
#respond input[type=submit] {
  width: auto;
  margin: 10px 0;
  text-align: right; }

/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
/* line 11, ../sass/_slider.scss */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

/* line 12, ../sass/_slider.scss */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 14, ../sass/_slider.scss */
#slider-wrapper {
  border-top: 2px solid #ed1c24;
  background: url("../images/homepage-image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/homepage-image.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/homepage-image.jpg', sizingMethod='scale')";
  min-height: 430px; }

/* line 26, ../sass/_slider.scss */
#slider {
  padding: 58px 0 0;
  text-align: center;
  min-height: 430px; }
  /* line 32, ../sass/_slider.scss */
  #slider ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 34, ../sass/_slider.scss */
  #slider img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  /* line 38, ../sass/_slider.scss */
  #slider .button {
    background: #41a458; }

/* FlexSlider Necessary Styles
*********************************/
/* line 43, ../sass/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0; }

/* line 44, ../sass/_slider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 47, ../sass/_slider.scss */
.flexslider .slides img {
  max-width: 100%; }

/* line 48, ../sass/_slider.scss */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 51, ../sass/_slider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 52, ../sass/_slider.scss */
html[xmlns] .slides {
  display: block; }

/* line 53, ../sass/_slider.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 59, ../sass/_slider.scss */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 63, ../sass/_slider.scss */
.flexslider {
  position: relative;
  zoom: 1; }

/* line 64, ../sass/_slider.scss */
.flexslider .slides {
  zoom: 1; }

/* line 65, ../sass/_slider.scss */
.flexslider .slides > li {
  position: relative; }

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
/* line 68, ../sass/_slider.scss */
.flex-container {
  zoom: 1;
  position: relative; }

/* Caption style */
/* Direction Nav */
/* line 73, ../sass/_slider.scss */
.flex-direction-nav {
  height: 0; }

/* line 74, ../sass/_slider.scss */
.flex-direction-nav li a {
  width: 25px;
  height: 61px;
  margin: 0;
  display: block;
  background: url("../images/slider-arrows.png") no-repeat;
  position: absolute;
  bottom: 3px;
  cursor: pointer;
  text-indent: -999em; }

/* line 75, ../sass/_slider.scss */
.flex-direction-nav li .next {
  background-position: -36px 0;
  right: 113px; }

/* line 76, ../sass/_slider.scss */
.flex-direction-nav li .prev {
  left: 113px; }

/* line 77, ../sass/_slider.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
/* line 80, ../sass/_slider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 87px;
  text-align: center; }

/* line 81, ../sass/_slider.scss */
.flex-control-nav li {
  margin: 0 0 0 14px;
  display: inline-block;
  zoom: 1;
  display: inline-block; }

/* line 82, ../sass/_slider.scss */
.flex-control-nav li:first-child {
  margin: 0; }

/* line 83, ../sass/_slider.scss */
.flex-control-nav li a {
  width: 8px;
  height: 8px;
  display: block;
  background: url("../images/slide-counter.png") right top no-repeat;
  cursor: pointer;
  text-indent: -999em; }

/* line 84, ../sass/_slider.scss */
.flex-control-nav li a:hover, .flex-control-nav li a.flex-active {
  background-position: 0 0; }

/********** Structure Styles **********/
/* line 3, ../sass/_structure.scss */
.wrapper {
  position: relative;
  width: 948px;
  margin-left: auto;
  margin-right: auto; }

/*** [ Header ] ***/
/* line 9, ../sass/_structure.scss */
body > header {
  margin-top: 39px;
  margin-bottom: 20px; }
  /* line 13, ../sass/_structure.scss */
  body > header .searchform {
    text-align: right; }

/* line 15, ../sass/_structure.scss */
#logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 375px; }

/* line 18, ../sass/_structure.scss */
#logo h2 {
  margin: 0; }

/* line 19, ../sass/_structure.scss */
#logo a {
  background: url("../images/mentor-makerspace.png") 0 0 no-repeat;
  width: 321px;
  height: 88px;
  display: block; }

/* line 20, ../sass/_structure.scss */
#search {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 533px; }

/* line 23, ../sass/_structure.scss */
nav {
  margin-top: -47px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 928px; }

/*** [ Content Wrappers ] ***/
/* line 30, ../sass/_structure.scss */
#login {
  position: absolute;
  top: 0;
  right: 0;
  background: #90d4fd;
  padding: 7px 0 7px 7px;
  z-index: 1;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  /* line 40, ../sass/_structure.scss */
  #login div {
    margin-right: 7px; }
  /* line 42, ../sass/_structure.scss */
  #login input[type=text], #login input[type=password] {
    width: 10em; }
  /* line 44, ../sass/_structure.scss */
  #login p {
    margin: 0 0 0 5px;
    color: #fff;
    font-size: .9em;
    text-shadow: 1px 1px 1px #003666; }
  /* line 51, ../sass/_structure.scss */
  #login a.button {
    font-size: .9em;
    padding: 5px 13px;
    margin: 5px 10px; }

/*** [ Main Content ] ***/
/* line 60, ../sass/_structure.scss */
#content-header {
  background: #005b91;
  border-top: 2px solid #f7941d;
  border-bottom: 2px solid #f7941d; }
  /* line 65, ../sass/_structure.scss */
  #content-header .wrapper {
    background: transparent url(../images/blog-gfx.png) left bottom no-repeat; }
  /* line 67, ../sass/_structure.scss */
  #content-header h1 {
    color: #fff;
    font-size: 4em;
    padding: 77px 0 14px;
    font-weight: bold;
    margin: 0;
    line-height: 1em; }

/* line 77, ../sass/_structure.scss */
#body-wrapper {
  padding-bottom: 30px; }
  /* line 80, ../sass/_structure.scss */
  #body-wrapper #body {
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 691px; }

/* line 85, ../sass/_structure.scss */
.one-column {
  text-align: center;
  padding-top: 5px; }

/* line 86, ../sass/_structure.scss */
.two-column {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 454px; }

/* line 87, ../sass/_structure.scss */
.three-column {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 296px; }

/* line 88, ../sass/_structure.scss */
.four-column {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 217px; }

/* line 91, ../sass/_structure.scss */
body#home #body-wrapper {
  border-bottom: 2px solid #ed1c24;
  color: #fff;
  background: #005b91; }
  /* line 92, ../sass/_structure.scss */
  body#home #body-wrapper h1 {
    color: #fff;
    text-align: center; }
  /* line 93, ../sass/_structure.scss */
  body#home #body-wrapper h2 {
    color: #90d4fd;
    font-size: 2em; }
  /* line 94, ../sass/_structure.scss */
  body#home #body-wrapper h5 {
    font-weight: normal;
    font-size: 1.1em; }
  /* line 95, ../sass/_structure.scss */
  body#home #body-wrapper a:link, body#home #body-wrapper a:visited {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }
  /* line 96, ../sass/_structure.scss */
  body#home #body-wrapper a:hover, body#home #body-wrapper a:active {
    color: #90D4FD;
    text-decoration: none;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }
/* line 98, ../sass/_structure.scss */
body#home .two-column {
  padding: 0 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 454px; }

/* line 101, ../sass/_structure.scss */
.featured-block {
  background: #049af3;
  padding: 21px 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: .8125em;
  clear: both;
  display: inline;
  float: left;
  width: 948px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 111, ../sass/_structure.scss */
  .featured-block h3, .featured-block p {
    margin: 0;
    color: #fff; }
  /* line 115, ../sass/_structure.scss */
  .featured-block h3 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.846153846em; }
  /* line 120, ../sass/_structure.scss */
  .featured-block ul {
    list-style: none;
    list-style-image: none;
    margin: 0 0 5px;
    padding: 0; }
    /* line 123, ../sass/_structure.scss */
    .featured-block ul li {
      line-height: 1.5em; }
  /* line 125, ../sass/_structure.scss */
  .featured-block a {
    color: #fff; }
    /* line 128, ../sass/_structure.scss */
    .featured-block a:hover, .featured-block a:active {
      color: #00446b; }
  /* line 130, ../sass/_structure.scss */
  .featured-block p > a {
    text-decoration: underline; }

/* line 132, ../sass/_structure.scss */
.single-featured-block {
  background: #90d4fd;
  color: #005b91;
  padding: 21px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 138, ../sass/_structure.scss */
  .single-featured-block h2 {
    margin: 0; }

/* line 140, ../sass/_structure.scss */
a.post-edit-link {
  position: absolute;
  opacity: .3;
  top: 0;
  right: 0;
  background: #90d4fd;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  padding: 3px 7px;
  font-size: .9em;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 154, ../sass/_structure.scss */
  a.post-edit-link:hover {
    opacity: 8;
    top: 0;
    padding: 7px 7px 3px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }

/* line 161, ../sass/_structure.scss */
#footer-wrapper {
  padding-top: 20px; }

/*** [ Blog Styles ] ***/
/* line 165, ../sass/_structure.scss */
article.post {
  margin: 30px 0 50px; }

/* line 166, ../sass/_structure.scss */
.post-author {
  background: #005b91;
  color: #fff;
  padding: 10px;
  float: left;
  width: 13%;
  text-align: center;
  font-size: .8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 176, ../sass/_structure.scss */
  .post-author a {
    color: #fff; }
  /* line 177, ../sass/_structure.scss */
  .post-author img {
    border: 2px solid white; }

/* line 179, ../sass/_structure.scss */
.post-body {
  float: left;
  width: 84%;
  margin-left: 3%; }
  /* line 184, ../sass/_structure.scss */
  .post-body h2 {
    font-weight: normal;
    margin: 0 0 10px; }
  /* line 188, ../sass/_structure.scss */
  .post-body img {
    max-width: 100%;
    height: auto; }

/* line 190, ../sass/_structure.scss */
.post-meta {
  color: #4278a2;
  font-size: .9em; }
  /* line 194, ../sass/_structure.scss */
  .post-meta a {
    color: #005b91;
    text-decoration: underline; }
  /* line 196, ../sass/_structure.scss */
  .post-meta .post-date {
    width: 50%; }
  /* line 197, ../sass/_structure.scss */
  .post-meta .tags {
    font-weight: bold;
    width: 30%; }
    /* line 201, ../sass/_structure.scss */
    .post-meta .tags a {
      font-weight: normal; }
  /* line 206, ../sass/_structure.scss */
  .post-meta .comments span {
    background: #f89406;
    padding: 2px 8px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

/*** [ Sidebar Content ] ***/
/* line 216, ../sass/_structure.scss */
#sidebar {
  background: #049af3;
  padding: 15px;
  margin-top: -152px;
  color: #fff;
  font-size: .8em;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 217px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  /* line 226, ../sass/_structure.scss */
  #sidebar h2, #sidebar h3 {
    color: #fff; }
  /* line 228, ../sass/_structure.scss */
  #sidebar h3 {
    margin: 0 0 10px; }
  /* line 230, ../sass/_structure.scss */
  #sidebar p {
    margin: 5px 0 0; }
    /* line 233, ../sass/_structure.scss */
    #sidebar p a {
      text-decoration: underline; }
  /* line 236, ../sass/_structure.scss */
  #sidebar a {
    color: #fff; }
  /* line 238, ../sass/_structure.scss */
  #sidebar .widget {
    padding: 10px 0;
    border-top: 1px solid #90d4fd; }

/* line 244, ../sass/_structure.scss */
#member-meta {
  background: #90d4fd;
  padding: 10px;
  margin-bottom: 10px;
  color: #005b91;
  line-height: 1.1em;
  font-size: .9em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 253, ../sass/_structure.scss */
  #member-meta h5 {
    margin: 0;
    color: #005b91;
    font-size: 1.2em; }
  /* line 258, ../sass/_structure.scss */
  #member-meta p {
    margin-bottom: 7px; }
  /* line 259, ../sass/_structure.scss */
  #member-meta #user-photo {
    margin-right: 10px; }
    /* line 262, ../sass/_structure.scss */
    #member-meta #user-photo img {
      border: 4px solid white; }
  /* line 264, ../sass/_structure.scss */
  #member-meta #user-data {
    font-size: .95em; }
    /* line 267, ../sass/_structure.scss */
    #member-meta #user-data a {
      color: #005b91 !important;
      font-weight: bold; }
    /* line 271, ../sass/_structure.scss */
    #member-meta #user-data li {
      margin: 8px 0 10px; }
    /* line 272, ../sass/_structure.scss */
    #member-meta #user-data span {
      background: #f89406;
      padding: 0 6px;
      color: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }

/*** [ Footer ] ***/
@media print {
  /* line 2, ../sass/_print.scss */
  * {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important; }

  /* line 8, ../sass/_print.scss */
  a {
    text-decoration: underline; }
    /* line 10, ../sass/_print.scss */
    a:visited {
      text-decoration: underline; }
    /* line 13, ../sass/_print.scss */
    a[href]:after {
      content: " (" attr(href) ")"; }

  /* line 17, ../sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 20, ../sass/_print.scss */
  .ir a:after {
    content: ""; }

  /* line 24, ../sass/_print.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 28, ../sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid; }

  /* line 32, ../sass/_print.scss */
  thead {
    display: table-header-group; }

  /* line 35, ../sass/_print.scss */
  tr {
    page-break-inside: avoid; }

  /* line 38, ../sass/_print.scss */
  img {
    page-break-inside: avoid;
    max-width: 100%!important; }

  @page {
    margin: .5cm; }

  /* line 46, ../sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 50, ../sass/_print.scss */
  h2, h3 {
    page-break-after: avoid; } }
